# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# -----------------------------
# Virtual Environment
# -----------------------------
venv/
.venv/
env/

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Logs
# -----------------------------
logs/
*.log

# -----------------------------
# Python Cache
# -----------------------------
.pytest_cache/
.mypy_cache/

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# YOLO Training Outputs
# -----------------------------
runs/
cv/runs/

# -----------------------------
# Model Weights
# -----------------------------
*.pth

# -----------------------------
# Uploaded Images
# -----------------------------
uploads/

# -----------------------------
# Generated Outputs
# -----------------------------
outputs/
cv/outputs/

# -----------------------------
# Vector Database
# -----------------------------
vector_db/
chroma_db/

# Dataset
cv/dataset/
# -----------------------------
# Build
# -----------------------------
build/
dist/
*.egg-info/