# =========================
# FastAPI
# =========================
fastapi
uvicorn
python-multipart

# =========================
# Database
# =========================
sqlalchemy
alembic
psycopg2-binary

# =========================
# Configuration
# =========================
pydantic
pydantic-settings
python-dotenv
email-validator

# =========================
# Computer Vision
# =========================
opencv-python-headless
ultralytics
torch
torchvision
numpy
pillow

# =========================
# Data Processing
# =========================
pandas

# =========================
# LangChain / RAG
# =========================
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-ollama

sentence-transformers
faiss-cpu
pinecone

# =========================
# PDF Processing
# =========================
pypdf

# =========================
# Utilities
# =========================
PyYAML
requests
reportlab
faker

# =========================
# Ollama
# =========================
ollama

# =========================
# CrewAI
# =========================
crewai
spacy==3.8.14
